@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;

}


@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
  }

  @keyframes slideUp {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-slide-up {
    animation: slideUp 1s ease-out forwards;
  }

  @keyframes fadeInDelay {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .animate-fade-in-delay {
    animation: fadeInDelay 2s ease-out forwards;
  }
}



/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

/* Responsive Container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, #323233, #6b686f);
  padding: 3px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

nav a:hover {
  color: #f8f9fa;
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #007bff, #6610f2);
  color: white;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  opacity: 0.9;
}

/* Sections */
section {
  padding: 60px 20px;
  text-align: center;
}

/* Footer */
footer {

  color: white;
  text-align: center;
  padding: 15px 0;
}
